main {

    h1,
    h2,
    h3,
    h4 {
        margin-top: 6mm;
        margin-bottom: 2mm;
    }

    a {
        color: #9c3574;

        font-family: "Noto Sans Mono";
        font-weight: 600;

        font-size: 4mm;
        text-decoration-thickness: 1px;

        code {
            display: inline;
            font-size: inherit;
            color: inherit;
        }
    }

    p a {
        font-size: 4mm;
        line-height: 4mm;
    }

    p:empty {
        display: none;
    }

    p {
        margin-top: 0.25em;
        margin-bottom: 0.75em;
    }

    p+p {
        margin-top: 0em;
    }

    code {
        font-family: JBM;
        font-size: 4mm;
        color: #000000;

        --lnWidth: 2ch;

        .ec-line .gutter .ln {
            padding-inline: 0.5ch;
        }
    }

    .expressive-code {
        margin-bottom: 0.5em;
        margin-top: 0em;
    }

    blockquote {
        border-left: 3px solid #9c3574;
        padding: 0 0.75em;
        margin: 1em 0em;

        p {
            margin: 0.5em;
        }
    }
}
