.lists {

    th,
    tr {
        text-align: left;
    }

    .controls {
        display: flex;
        flex-direction: row;
        gap: 0.5em;

        align-items: center;
    }

}


.list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;

    ol& {
        padding-left: 0;
    }

    .item {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header hader"
            "note note"
            "controls controls-after";

        gap: 0.5em;
        width: 100%;

        padding: 0.5em 0.5em;

        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        form {
            display: contents;
        }

        &>h2 {
            grid-area: header;

            text-align: center;
        }

        & .note {
            grid-area: note;
            resize: vertical;
        }

        & .controls {
            grid-area: controls;
            display: flex;
            flex-direction: row;
            gap: 0.5em;

            align-items: center;
        }

        & .controls-after {
            grid-area: controls-after;
        }
    }
}
