.lists {

    th,
    tr {
        text-align: left;
    }

    .controls {
        display: flex;
        flex-direction: row;
        gap: 0.5em;

        align-items: center;

        * {
            aspect-ratio: 1/1;
            display: flex;
            flex-direction: row;
            align-items: column;
            justify-content: center;
        }
    }

}


.list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;

    ol& {
        padding-left: 0;
    }

    .item {
        display: grid;
        grid-template-columns: 1fr auto min-content;
        grid-template-rows: min-content auto auto;
        grid-template-areas:
            "header header controls"
            "note note controls"
            "below below controls-after";

        gap: 0.5em;
        width: 100%;

        padding: 0.5em 0.5em;

        box-shadow: var(--shadow) 0px 1px 4px;

        word-wrap: anywhere;

        form {
            display: contents;
        }

        &>h2 {
            grid-area: header;

            text-align: center;
        }

        & .note {
            grid-area: note;
            resize: vertical;
        }

        & .below {
            grid-area: below;
            display: flex;
            flex-direction: row;
            gap: 0.5em;

            align-items: center;
        }

        & .controls {
            grid-area: controls;
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            align-items: center;
        }

        & .controls-after {
            grid-area: controls-after
        }

        img {
            object-fit: contain;
            max-width: 100%;
        }
    }
}
