<!doctype html>
<html lang="en">

<head>
    <slot name="head" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/style/site-layout.css" />
    {% if gay %}
    <link rel="stylesheet" href="/style/gay.css" />
    {% endif %}
    <link rel="stylesheet" href="/style/contents.css" />

    <title>
        {% block title %}{% endblock %}
    </title>
    <style>
        @keyframes detect-scroll {

            from,
            to {
                --can-scroll: ;
            }
        }
    </style>
</head>

<body class="{% if gay %}gay{% endif %} {% if wide %}wide{% endif %}">
    <nav>
        <div class="menu sans">
            <a href="/">Home</a>
            {% if let Some(user) = user %}
            <a href="/dashboard">Dashboard</a>
            {% endif %}
            <a href="/blog">Blog</a>
            <a href="/rss.xml">RSS</a>
            {% block menu %}{% endblock %}
        </div>

        <div class="space only-wide"></div>

        {% block nav %}{% endblock %}
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
</body>

</html>
