{% extends "layouts/base.html" %}
{% import "components/github.html" as github %}
{% import "components/tag.html" as t %}
{% import "components/rust.html" as rust %}
{% import "components/arena.html" as arena %}

{% block title %}{{ post.title }}{% endblock %}

{% block head %}
<meta name="description" content={{post.description}} />
<link rel="stylesheet" href="/static/style/blog-layout.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/atom-one-dark.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>

<script>
hljs.configure({languages:[]});
hljs.highlightAll();
</script>

{% endblock %}

{% block menu %}
<a href="https://github.com/jdonszelmann/homepage/tree/main/{{post.rootpath}}">Source</a>
{% endblock %}

{% block nav %}
<div class="author-info ifwide">
    By:
    <div class="authors">
        {% for user in post.authors %}
        {{ github::user(user, true) }}
        {% endfor %}
    </div>
    {% if !post.variant.is_music() && !post.reviewers.is_empty() %}
    Reviewed by:
    <div class="authors">
        {% for user in post.reviewers %}
        {{ github::user(user, true) }}
        {% endfor %}
    </div>
    {% endif %}

    Published: {{post.publication_date}}<br />
    {% if let Some(time) = post.time %}
    read time: {{time}}
    {% endif %}

    <div class="tags">
        Tags:
        {% for tag in post.tags %}
        {{ t::tag(tag, true) }}
        {% endfor %}
    </div>
</div>

{% if !post.variant.is_music() %}
<div class="toc ifwide sans" role="navigation" aria-label="Table of contents">
    <TOCHeading elems={hierarchicalHeadings} />
</div>
{% endif %}

{% endblock %}

{% block main %}
<h1 id="title" class="title" }>
    {{ post.title }}
    {% if post.draft %} <span>(Draft)</span> {% endif %}
</h1>

{% if !post.variant.is_music() %}
<details class="center ifnarrow">
    <summary>Press for table of Contents</summary>
    <div class="toc sans" role="navigation" aria-label="Table of contents">
        <TOCHeading elems={hierarchicalHeadings} />
    </div>
</details>
{% endif %}


<div class="contents {% if !post.ligatures || post.variant.is_music() %}no-ligatures{% endif %}">
    {% block contents %}{% endblock %}
</div>

<footer class="ifnarrow center">
    {% if !post.variant.is_music() %}
    Table of contents:
    <div class="toc sans" role="navigation" aria-label="Table of contents">
        <TOCHeading elems={hierarchicalHeadings} />
    </div>
    {% endif %}

    <div class="author-info below">
        By:
        <div class="authors">
            {% for user in post.authors %}
            {{ github::user(user, true) }}
            {% endfor %}
        </div>

        {% if !post.variant.is_music() && !post.reviewers.is_empty() %}
        Reviewed by:
        <div class="authors">
            {% for user in post.reviewers %}
            {{ github::user(user, true) }}
            {% endfor %}
        </div>
        {% endif %}
        Published: {{post.publication_date}}
        <br />
        {% if let Some(time) = post.time %}
        read time: {{time}}
        {% endif %}
        <div class="tags">
            Tags:
            {% for tag in post.tags %}
            {{ t::tag(tag, true) }}
            {% endfor %}
        </div>
    </div>
</footer>
{% endblock %}
