---
import Layout from "../layouts/Overview.astro";
import PostPreview from "../components/PostPreview.astro";
import { getCollection } from "astro:content";

const blog = await getCollection("blog");
---

<Layout>
    <div class="previews">
        {
            blog
                .filter((i) => {
                    return !i.data.draft;
                })
                .map((post) => <PostPreview post={post as any} />)
        }
    </div>
</Layout>

<style>
    .previews {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-top: 1em;
    }
</style>
