---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jonathan Dönszelmann">
	<main>
		<div class="title">
			<h3>You have reached the homepage of:</h3>
			<h1>Jonathan Dönszelmann</h1>
		</div>

		<div class="websites grid"></div>
		<div class="projects grid"></div>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
	}
	.title {
		text-align: center;
	}
	.grid {
	}
</style>
