---
interface Props {
    link: string;
}

const { link } = Astro.props;
---

{
    link !== "" && link !== null && typeof link !== "undefined" ? (
        <a class="social" href={link}>
            <slot />
        </a>
    ) : (
        <div class="social">
            <slot />
        </div>
    )
}

<style lang="scss">
    .social {
        display: flex;
        gap: 0.5em;
        grid-template-columns: auto auto;

        font-weight: bold;
        font-family: monospace;
        font-size: large;

        padding: 0.4em 0.6em;
        border-radius: 0.2em;

        align-items: center;
    }
</style>
