---
interface Props {
    title: string;
    wide?: boolean;
}

const { title, wide = false } = Astro.props;

const gay = import.meta.env.GAY;
---

<!doctype html>
<html lang="en">
    <head>
        <slot name="head" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="stylesheet" href="/style/site-layout.css" />
        <link rel="stylesheet" href="/style/gay.css" />
        <link rel="stylesheet" href="/style/contents.css" />

        <title>{title}</title>
        <style is:global>
            /*img.gh-avatar {
                display: inline-block;
                margin-right: 0.3em;
                height: 1.5em;
                border-radius: 1em;
            }*/
        </style>
        <style is:global>
            @keyframes detect-scroll {
                from,
                to {
                    --can-scroll:;
                }
            }
        </style>
    </head>

    <body class:list={[gay ? "gay" : null, wide ? "wide" : null]}>
        <nav>
            <div class="menu sans">
                <a href="/">Home</a>
                <a href="/blog">Blog</a>
                <a href="/rss.xml">RSS</a>
                <slot name="menu" />
            </div>

            <div class="space only-wide"></div>

            <slot name="nav" />
        </nav>
        <main>
            <slot name="main" />
        </main>
    </body>
</html>
