---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<slot name="nav" />
		</header>
		<main>
			<slot name="main" />
			<slot name="socials" />
		</main>
	</body>
</html>
<style is:global>
	:root {
	}
	html,
	body {
		margin: 0;
		padding: 0;
	}
	body {
		display: grid;
		grid-template-columns: auto min(60em, 90vw) auto;
		grid-template-rows: auto;
		grid-template-areas: "left middle right";
	}
	body > * {
		grid-area: middle;
	}
</style>
<style is:global>
	i {
		width: 1.33em;
		height: 1.33em;
	}
</style>
