---

---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <title>Jonathan's Blog</title>
        <style lang="scss">
            @font-face {
                font-family: "JBM";
                src: url("/fonts/JetBrainsMono-Regular.ttf") format("truetype");
            }
            @font-face {
                font-family: "NF";
                src: url("/fonts/SymbolsNerdFontMono-Regular.ttf")
                    format("truetype");
            }
            @font-face {
                font-family: "Fira Sans";
                src: url("/fonts/FiraSans-Regular.otf") format("opentype");
                font-weight: normal;
            }
            @font-face {
                font-family: "Fira Sans";
                src: url("/fonts/FiraSans-Bold.otf") format("opentype");
                font-weight: bold;
            }
            html,
            body {
                margin: 0;
                padding: 0;
                background: #f5f5f5;
            }

            body {
                display: grid;
                grid-template-rows: auto;
                grid-template-areas: "left nav middle right";

                grid-template-columns: auto 10em min(40em, 70vw) auto;
                gap: 1em;
            }

            @media (width <= 800px) {
                body {
                    grid-template-columns: 2em auto 2em;
                    grid-template-rows: 3em auto;
                    grid-template-areas:
                        "left nav right"
                        "left middle right";
                }

                nav {
                    flex-direction: row !important;
                }

                .space {
                    display: block;
                    margin-left: auto;
                }

                .toc {
                    display: none;
                }

                .reviewers {
                    display: none !important;
                }
            }
            @media (width > 800px) {
                nav {
                    padding-top: 1.5em;
                    align-self: start;
                    position: sticky;
                    top: 0;
                }
                .toc {
                    display: contents;
                }
            }

            .space {
                display: none;
            }

            main {
                grid-area: middle;
                font-family: "Fira Sans";
            }

            nav {
                background: #f5f5f5;
                grid-area: nav;
                display: flex;
                flex-direction: column;

                justify-content: start;
                align-items: center;

                gap: 1em;
            }

            .menu {
                display: contents;

                a {
                    text-decoration: none;
                    color: black;
                }
            }

            .reviewers {
                display: contents;
            }
        </style>
    </head>

    <body>
        <nav>
            <div class="menu">
                <a href="/">Home</a>
                <a href="/blog">Overview</a>
            </div>
        </nav>
        <main>
            <!-- <p>{description}</p> -->
            <slot />
        </main>
    </body>
</html>
